openapi: 3.1.0
info:
  title: Ditch Remote Control API
  version: 1.0.0
  description: Optional anonymous control plane. All authenticated operations use Ditch signed requests.
servers:
  - url: https://relay.ditchnow.nl
paths:
  /v1/machines/register:
    post:
      operationId: registerMachine
      security: []
      requestBody:
        required: true
        content: {application/json: {schema: {$ref: '#/components/schemas/MachineRegistration'}}}
      responses: {'201': {description: Registered}, '400': {$ref: '#/components/responses/Error'}}
  /v1/pairings:
    post:
      operationId: createPairing
      responses: {'201': {description: Pairing created}, '401': {$ref: '#/components/responses/Error'}}
  /v1/pairings/{pairing_id}/claim:
    post:
      operationId: claimPairing
      security: []
      parameters: [{$ref: '#/components/parameters/PairingId'}]
      requestBody:
        required: true
        content: {application/json: {schema: {$ref: '#/components/schemas/PairingClaim'}}}
      responses: {'202': {description: Awaiting Mac confirmation}, '409': {$ref: '#/components/responses/Error'}}
  /v1/pairings/{pairing_id}/confirm:
    post:
      operationId: confirmPairing
      parameters: [{$ref: '#/components/parameters/PairingId'}]
      responses: {'200': {description: Pairing consumed}, '409': {$ref: '#/components/responses/Error'}}
  /v1/pairings/{pairing_id}:
    delete:
      operationId: cancelPairing
      parameters: [{$ref: '#/components/parameters/PairingId'}]
      responses: {'204': {description: Cancelled}, '401': {$ref: '#/components/responses/Error'}}
  /v1/auth/socket-ticket:
    post:
      operationId: createSocketTicket
      requestBody:
        required: true
        content: {application/json: {schema: {type: object, required: [machine_id, role, connection_epoch], properties: {machine_id: {type: string, format: uuid}, role: {enum: [machine, device]}, connection_epoch: {type: string, format: uuid}}}}}
      responses: {'201': {description: One-use ticket}, '401': {$ref: '#/components/responses/Error'}}
  /v1/socket:
    get:
      operationId: connectSocket
      security: []
      parameters: [{name: ticket, in: query, required: true, schema: {type: string}}]
      responses: {'101': {description: WebSocket upgrade}, '401': {$ref: '#/components/responses/Error'}}
  /v1/machines:
    get:
      operationId: listMachines
      responses: {'200': {description: Owner-scoped machines}, '401': {$ref: '#/components/responses/Error'}}
  /v1/machines/{machine_id}:
    get:
      operationId: getMachine
      parameters: [{$ref: '#/components/parameters/MachineId'}]
      responses: {'200': {description: Machine}, '404': {$ref: '#/components/responses/Error'}}
    delete:
      operationId: deleteMachine
      parameters: [{$ref: '#/components/parameters/MachineId'}]
      responses: {'204': {description: Remote registration removed}, '401': {$ref: '#/components/responses/Error'}}
  /v1/machines/{machine_id}/projects:
    get:
      operationId: listProjects
      parameters: [{$ref: '#/components/parameters/MachineId'}]
      responses: {'200': {description: Sanitized projections}, '401': {$ref: '#/components/responses/Error'}}
  /v1/projects/{project_id}:
    get:
      operationId: getProject
      parameters: [{$ref: '#/components/parameters/ProjectId'}]
      responses: {'200': {description: Sanitized projection}, '404': {$ref: '#/components/responses/Error'}}
  /v1/projects/{project_id}/sessions:
    get:
      operationId: listSessions
      parameters: [{$ref: '#/components/parameters/ProjectId'}]
      responses: {'200': {description: Sanitized projections}, '401': {$ref: '#/components/responses/Error'}}
  /v1/attention:
    get:
      operationId: listAttention
      responses: {'200': {description: Durable attention projection}, '401': {$ref: '#/components/responses/Error'}}
  /v1/devices/{device_id}/push-token:
    put:
      operationId: putPushToken
      parameters: [{$ref: '#/components/parameters/DeviceId'}]
      responses: {'204': {description: Updated}, '401': {$ref: '#/components/responses/Error'}}
  /v1/machines/{machine_id}/devices:
    get:
      operationId: listMachineDevices
      description: Returns the complete active-device roster authorized for this machine. A machine may request only its own roster. Machine clients use this authoritative snapshot to reconcile their local authorization cache before displaying Remote settings.
      parameters: [{$ref: '#/components/parameters/MachineId'}]
      responses:
        '200':
          description: Active devices authorized for this machine
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [protocol_version, devices]
                properties:
                  protocol_version: {const: 1}
                  devices:
                    type: array
                    items: {$ref: '#/components/schemas/ActiveDevice'}
        '401': {$ref: '#/components/responses/Error'}
  /v1/machines/{machine_id}/devices/{device_id}:
    delete:
      operationId: revokeMachineDevice
      description: Revokes this device's authorization for this machine only. It does not revoke the device identity or its authorization for another machine.
      parameters:
        - {$ref: '#/components/parameters/MachineId'}
        - {$ref: '#/components/parameters/DeviceId'}
      responses: {'204': {description: Machine-specific authorization revoked}, '401': {$ref: '#/components/responses/Error'}}
  /v1/devices/{device_id}:
    delete:
      operationId: revokeDevice
      description: Globally revokes the device identity and all of its machine authorizations. The ordinary Mac settings Revoke action does not use this operation.
      parameters: [{$ref: '#/components/parameters/DeviceId'}]
      responses: {'204': {description: Revoked}, '401': {$ref: '#/components/responses/Error'}}
  /v1/machines/{machine_id}/commands:
    post:
      operationId: submitCommand
      parameters: [{$ref: '#/components/parameters/MachineId'}]
      requestBody:
        required: true
        content: {application/json: {schema: {$ref: './schemas/command.schema.json'}}}
      responses: {'202': {description: Delivered to online Mac}, '409': {$ref: '#/components/responses/Error'}}
components:
  securitySchemes:
    ditchSignature:
      type: apiKey
      in: header
      name: X-Ditch-Signature
  parameters:
    PairingId: {name: pairing_id, in: path, required: true, schema: {type: string, format: uuid}}
    MachineId: {name: machine_id, in: path, required: true, schema: {type: string, format: uuid}}
    ProjectId: {name: project_id, in: path, required: true, schema: {type: string, format: uuid}}
    DeviceId: {name: device_id, in: path, required: true, schema: {type: string, format: uuid}}
  responses:
    Error:
      description: Stable error envelope
      content: {application/json: {schema: {$ref: './schemas/error.schema.json'}}}
  schemas:
    ActiveDevice:
      type: object
      additionalProperties: false
      required: [id, name, platform, state, signing_public_key, agreement_public_key, key_version, authorized_at, last_seen_at]
      properties:
        id: {type: string, format: uuid}
        name: {type: string, maxLength: 120}
        platform: {const: ios}
        state: {const: active}
        signing_public_key: {type: string}
        agreement_public_key: {type: string}
        key_version: {type: integer, minimum: 1}
        authorized_at: {type: integer}
        last_seen_at: {type: [integer, 'null']}
    MachineRegistration:
      type: object
      additionalProperties: false
      required: [protocol_version, machine_id, name, signing_public_key, agreement_public_key, proof]
      properties:
        protocol_version: {const: 1}
        machine_id: {type: string, format: uuid}
        name: {type: string, maxLength: 120}
        signing_public_key: {type: string}
        agreement_public_key: {type: string}
        proof: {type: string}
    PairingClaim:
      type: object
      additionalProperties: false
      required: [protocol_version, secret, device_id, name, platform, signing_public_key, agreement_public_key, proof]
      properties:
        protocol_version: {const: 1}
        secret: {type: string}
        device_id: {type: string, format: uuid}
        name: {type: string, maxLength: 120}
        platform: {const: ios}
        signing_public_key: {type: string}
        agreement_public_key: {type: string}
        proof: {type: string}
security:
  - ditchSignature: []
